# Ex - GroupBy

### Paso 1. Importar librerias

In [7]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Paso 3. Asígnalo a una variable llamada bebidas.

In [64]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
bebidas = pd.read_csv(url)
bebidas.head(40)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
30,Cambodia,57,65,1,2.2,AS
31,Cameroon,147,1,4,5.8,AF
32,Canada,240,122,100,8.2,NaN
33,Central African Republic,17,2,1,1.8,AF
34,Chad,15,1,1,0.4,AF
35,Chile,130,124,172,7.6,SA
36,China,79,192,8,5.0,AS
37,Colombia,159,76,3,4.2,SA
38,Comoros,1,3,1,0.1,AF
39,Congo,76,1,9,1.7,AF

In [66]:
bebidas.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [60]:
bebidas_promax = bebidas.groupby (['continent'])[['beer_servings']].mean()
print (bebidas_promax)
bebidas_promax.loc[[bebidas_promax['beer_servings'].idxmax()]]

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

           beer_servings
continent
EU            193.777778

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [61]:
bebidas.groupby (['continent'])['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [77]:
bebidas.groupby (['continent'])[['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol']].mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [74]:
bebidas.groupby (['continent'])[['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol']].median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [79]:
bebidas.groupby (['continent']).describe()

          beer_servings                                                      \
                  count        mean        std   min     25%    50%     75%
continent
AF                 53.0   61.471698  80.557816   0.0   15.00   32.0   76.00
AS                 44.0   37.045455  49.469725   0.0    4.25   17.5   60.50
EU                 45.0  193.777778  99.631569   0.0  127.00  219.0  270.00
OC                 16.0   89.687500  96.641412   0.0   21.00   52.5  125.75
SA                 12.0  175.083333  65.242845  93.0  129.50  162.5  198.00

                 spirit_servings              ... wine_servings         \
             max           count        mean  ...           75%    max
continent                                     ...
AF         376.0            53.0   16.339623  ...         13.00  233.0
AS         247.0            44.0   60.840909  ...          8.00  123.0
EU         361.0            45.0  132.555556  ...        195.00  370.0
OC         306.0            16.0   58.437500  ...         23.25  212.0
SA         333.0            12.0  114.750000  ...         98.50  221.0

          total_litres_of_pure_alcohol                                        \
                                 count      mean       std  min   25%    50%
continent
AF                                53.0  3.007547  2.647557  0.0  0.70   2.30
AS                                44.0  2.170455  2.770239  0.0  0.10   1.20
EU                                45.0  8.617778  3.358455  0.0  6.60  10.00
OC                                16.0  3.381250  3.345688  0.0  1.00   1.75
SA                                12.0  6.308333  1.531166  3.8  5.25   6.85


              75%   max
continent
AF          4.700   9.1
AS          2.425  11.5
EU         10.900  14.4
OC          6.150  10.4
SA          7.375   8.3

[5 rows x 32 columns]