In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('train.csv', index_col=False)

In [5]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [12]:
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [13]:
df['Power'].unique()

array(['126.2 bhp', '88.7 bhp', '88.76 bhp', '140.8 bhp', '63.1 bhp',
       '171.5 bhp', '103.6 bhp', '74 bhp', '103.25 bhp', '116.3 bhp',
       '187.7 bhp', '115 bhp', '175.56 bhp', '98.6 bhp', '83.8 bhp',
       '167.62 bhp', '190 bhp', '88.5 bhp', '177.01 bhp', '80 bhp',
       '67.1 bhp', '102 bhp', '108.45 bhp', '138.1 bhp', '184 bhp',
       '179.5 bhp', '103.5 bhp', '64 bhp', '82 bhp', '254.8 bhp',
       '73.9 bhp', '46.3 bhp', '37.5 bhp', '77 bhp', '82.9 bhp',
       '149.92 bhp', '138.03 bhp', '112.2 bhp', '163.7 bhp', '71 bhp',
       '105 bhp', '174.33 bhp', '75 bhp', '103.2 bhp', '53.3 bhp',
       '78.9 bhp', '147.6 bhp', '147.8 bhp', '68 bhp', '186 bhp',
       '170 bhp', '69 bhp', '140 bhp', '78 bhp', '194 bhp', '500 bhp',
       '108.5 bhp', '86.8 bhp', '187.74 bhp', '132 bhp', '86.7 bhp',
       '73.94 bhp', '117.3 bhp', '218 bhp', '168.5 bhp', '89.84 bhp',
       '110 bhp', '90 bhp', '82.85 bhp', '67 bhp', '241.4 bhp', '35 bhp',
       '270.9 bhp', '126.32 bhp', '73 bhp', '130 bhp', '100.6 bhp',
       '150 bhp', '75.94 bhp', '215 bhp', '107.3 bhp', '37.48 bhp',
       '120 bhp', '178 bhp', '152 bhp', '91.1 bhp', '85.80 bhp',
       '362.07 bhp', '121.3 bhp', '143 bhp', '81.80 bhp', '171 bhp',
       '76.8 bhp', '103.52 bhp', '444 bhp', '362.9 bhp', '55.2 bhp',
       '67.06 bhp', '120.7 bhp', '258 bhp', '81.86 bhp', '112 bhp',
       '88.73 bhp', '57.6 bhp', '157.75 bhp', '102.5 bhp', '201.1 bhp',
       '83.1 bhp', '68.05 bhp', '88.50 bhp', nan, '106 bhp', '100 bhp',
       '81.83 bhp', '85 bhp', '64.1 bhp', '177.5 bhp', '246.7 bhp',
       '177.46 bhp', '65 bhp', '67.04 bhp', '189.08 bhp', '99 bhp',
       '53.5 bhp', '194.3 bhp', '70 bhp', '183 bhp', '254.79 bhp',
       '66.1 bhp', '76 bhp', '60 bhp', '123.24 bhp', '47.3 bhp',
       '118 bhp', '88.8 bhp', '177 bhp', '136 bhp', '201.15 bhp',
       '93.7 bhp', '177.6 bhp', '313 bhp', '245 bhp', '125 bhp',
       '141 bhp', '227 bhp', '62 bhp', '141.1 bhp', '83.14 bhp',
       '192 bhp', '67.05 bhp', '47 bhp', '235 bhp', '37 bhp', '87.2 bhp',
       '203 bhp', '204 bhp', '246.74 bhp', '122 bhp', '282 bhp',
       '181 bhp', '224 bhp', '94 bhp', '367 bhp', '98.79 bhp', '62.1 bhp',
       '174.3 bhp', '114 bhp', '335.2 bhp', '169 bhp', '191.34 bhp',
       '108.49 bhp', '138.02 bhp', '156 bhp', '187.4 bhp', '66 bhp',
       '103.3 bhp', '164.7 bhp', '79.4 bhp', '198.5 bhp', '154 bhp',
       '73.8 bhp', '181.43 bhp', '85.8 bhp', '207.8 bhp', '108.4 bhp',
       '88 bhp', '63 bhp', '82.5 bhp', '364.9 bhp', '107.2 bhp',
       '113.98 bhp', '126.3 bhp', '185 bhp', '237.4 bhp', '99.6 bhp',
       '66.7 bhp', '160 bhp', '306 bhp', '98.59 bhp', '92.7 bhp',
       '147.51 bhp', '197.2 bhp', '167.6 bhp', '165 bhp', '110.4 bhp',
       '73.97 bhp', '147.9 bhp', '116.6 bhp', '148 bhp', '34.2 bhp',
       '155 bhp', '197 bhp', '108.62 bhp', '118.3 bhp', '241.38 bhp',
       '153.86 bhp', '163.5 bhp', '226.6 bhp', '84.8 bhp', '53.64 bhp',
       '158.2 bhp', '69.01 bhp', '181.03 bhp', '104.68 bhp', '126.24 bhp',
       '73.75 bhp', '158 bhp', '130.2 bhp', '97.7 bhp', '121.4 bhp',
       '98.96 bhp', '174.5 bhp', '308 bhp', '121.36 bhp', '138 bhp',
       '265 bhp', '84 bhp', '321 bhp', '91.72 bhp', '65.3 bhp',
       '88.2 bhp', '93 bhp', '35.5 bhp', '86.79 bhp', '157.7 bhp',
       '91.7 bhp', '180 bhp', '114.4 bhp', '158.8 bhp', '157.8 bhp',
       '123.7 bhp', '56.3 bhp', '189 bhp', '104 bhp', '210 bhp',
       '270.88 bhp', '142 bhp', '255 bhp', '236 bhp', '167.7 bhp',
       '148.31 bhp', '138.08 bhp', '250 bhp', '74.9 bhp', '91.2 bhp',
       '102.57 bhp', '97.6 bhp', '102.53 bhp', '240 bhp', '254 bhp',
       '112.4 bhp', '73.74 bhp', '108.495 bhp', '116.9 bhp', '101 bhp',
       '320 bhp', '70.02 bhp', '261.49 bhp', '105.5 bhp', '550 bhp',
       '168.7 bhp', '94.68 bhp', '152.88 bhp', '163.2 bhp', '203.2 bhp',
       '241 bhp', '95 bhp', '200 bhp', '271.23 bhp', '63.12 bhp',
       '308.43 bhp', '118.6 bhp', '199.3 bhp', '83.83 bhp', '55 bhp',
       '83 bhp', '300 bhp', '201 bhp', '262.6 bhp', '163 bhp',
       '86.76 bhp', '76.9 bhp', '174.57 bhp', '301.73 bhp', '68.1 bhp',
       '162 bhp', '394.3 bhp', '147.5 bhp', '272 bhp', '340 bhp',
       '120.33 bhp', '82.4 bhp', '231.1 bhp', '335.3 bhp', '333 bhp',
       '198.25 bhp', '224.34 bhp', '402 bhp', '261 bhp', '61 bhp',
       '144 bhp', '71.01 bhp', '271.72 bhp', '134 bhp', '135.1 bhp',
       '92 bhp', '64.08 bhp', '261.5 bhp', '123.37 bhp', '175.67 bhp',
       '53 bhp', '110.5 bhp', '178.4 bhp', '193.1 bhp', '41 bhp',
       '395 bhp', '48.21 bhp', '450 bhp', '421 bhp', '89.75 bhp',
       '387.3 bhp', '130.3 bhp', '281.61 bhp', '52.8 bhp', '139.01 bhp',
       '208 bhp', '503 bhp', '168 bhp', '98.82 bhp', '139.07 bhp',
       '83.11 bhp', '74.93 bhp', '382 bhp', '74.96 bhp', '552 bhp',
       '127 bhp', '560 bhp', '116.4 bhp', '161.6 bhp', '488.1 bhp',
       '103 bhp', '181.04 bhp'], dtype=object)