In [1]:
import pandas as pd 
import numpy as np 
pd.set_option('display.max_columns', None)

In [20]:
df1 = pd.read_csv ('Nuclear Generated Energy share by Countries.csv')
df1

,Years,Argentina (Nuclear % share in power gen),Armenia (Nuclear % share in power gen),Belarus (Nuclear % share in power gen),Belgium (Nuclear % share in power gen),Brazil (Nuclear % share in power gen),Bulgaria (Nuclear % share in power gen),Canada (Nuclear % share in power gen),China (Nuclear % share in power gen),Taiwan (Nuclear % share in power gen),Czech Rep (Nuclear % share in power gen),Finland (Nuclear % share in power gen),France (Nuclear % share in power gen),Germany (Nuclear % share in power gen),Hungary (Nuclear % share in power gen),India (Nuclear % share in power gen),Iran (Nuclear % share in power gen),Japan (Nuclear % share in power gen),"Korea, S (Nuclear % share in power gen)",Mexico (Nuclear % share in power gen),Netherlands (Nuclear % share in power gen),Pakistan (Nuclear % share in power gen),Romania (Nuclear % share in power gen),Russia (Nuclear % share in power gen),Slovakia (Nuclear % share in power gen),Slovenia (Nuclear % share in power gen),South Africa (Nuclear % share in power gen),Spain (Nuclear % share in power gen),Sweden(Nuclear % share in power gen),Switzerland (Nuclear % share in power gen),United Arab Emirates (Nuclear % share in power gen),UK (Nuclear % share in power gen),Ukraine (Nuclear % share in power gen),USA (Nuclear % share in power gen)
0,2012,4.7,26.6,0.0,51.0,3.1,31.6,15.3,2.0,18.4,35.3,32.6,74.8,16.1,45.9,3.6,0.6,2.1,30.4,4.7,4.4,5.3,19.4,17.8,53.8,36.0,5.1,20.5,38.1,35.9,0.0,18.1,46.2,19.0
1,2013,4.4,29.2,0.0,52.1,2.8,30.7,16.0,2.1,19.1,35.9,33.3,73.3,15.5,50.7,3.5,1.5,1.7,27.6,4.6,2.8,4.4,19.8,17.5,51.7,33.6,5.7,19.7,42.7,36.4,0.0,18.3,43.6,19.4
2,2014,4.0,30.7,0.0,47.5,2.9,31.8,16.8,2.4,18.9,35.8,34.6,76.9,15.8,53.6,3.5,1.5,0.0,30.4,5.6,4.0,4.3,18.5,18.6,56.8,37.2,6.2,20.4,41.5,37.9,0.0,17.2,49.4,19.5
3,2015,4.8,34.5,0.0,37.5,2.8,31.3,16.6,3.0,16.3,32.5,33.7,76.3,14.1,52.7,3.5,1.3,0.5,31.7,6.8,3.7,4.4,17.3,18.6,55.9,38.0,4.7,20.3,34.3,33.5,0.0,18.9,56.5,19.5
4,2016,5.6,31.4,0.0,51.7,2.9,35.0,15.6,3.6,13.7,29.4,33.7,72.3,13.1,51.3,3.4,2.1,2.2,30.3,6.2,3.4,4.4,17.1,17.1,54.1,35.2,6.6,21.4,40.0,34.4,0.0,21.2,52.3,19.7
5,2017,4.5,32.5,0.0,49.9,2.7,34.3,14.6,3.9,9.2,33.1,33.2,71.6,11.6,50.0,3.2,2.1,3.6,27.1,6.0,2.9,6.2,17.7,17.8,54.0,39.1,6.7,21.2,39.6,33.4,0.0,19.3,55,20.0
6,2018,4.7,25.6,0.0,39.0,2.7,34.7,14.9,4.2,11.4,34.5,32.4,71.7,11.7,50.6,3.1,2.1,6.2,23.7,5.3,3.0,6.8,17.2,17.9,55.0,35.9,4.7,20.4,40.3,37.7,0.0,17.7,53,19.3
7,2019,5.9,27.8,0.0,47.6,2.7,37.5,14.9,4.9,13.4,35.2,34.7,70.6,12.4,49.2,3.2,1.8,7.5,26.2,4.5,3.2,6.6,18.5,19.7,53.9,37.0,6.7,21.4,34.0,23.9,0.0,15.6,53.9,19.7
8,2020,7.5,34.5,1.0,39.1,2.1,40.8,14.6,4.9,12.7,37.3,33.9,70.6,11.3,48.0,3.3,1.7,5.1,29.6,4.9,3.3,7.1,19.9,20.6,53.1,37.8,5.9,22.2,29.8,32.9,1.1,14.5,51.2,19.7
9,2021,7.2,25.3,14.1,50.8,2.4,34.6,14.3,5.0,10.8,36.6,32.8,69.0,11.9,46.8,3.2,1.0,7.2,28.0,5.3,3.1,10.6,18.5,20.0,52.3,36.9,6.0,20.8,30.8,28.8,7.0,14.8,55,19.6
10,2022,5.4,31.0,11.9,46.4,2.5,32.6,12.9,5.0,9.1,36.7,35.0,62.5,5.8,47.0,3.1,1.7,6.1,30.4,4.5,3.3,16.2,19.4,19.6,59.2,42.6,4.9,20.3,29.4,36.4,6.8,14.2,-,18.2

In [19]:
df1.shape

(11, 34)

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 34 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Years                                                11 non-null     int64
 1   Argentina (Nuclear % share in power gen)             11 non-null     float64
 2   Armenia (Nuclear % share in power gen)               11 non-null     float64
 3   Belarus (Nuclear % share in power gen)               11 non-null     float64
 4   Belgium (Nuclear % share in power gen)               11 non-null     float64
 5   Brazil (Nuclear % share in power gen)                11 non-null     float64
 6   Bulgaria (Nuclear % share in power gen)              11 non-null     float64
 7   Canada (Nuclear % share in power gen)                11 non-null     float64
 8   China (Nuclear % share in power gen)                 11 non-null     float64
 9   Taiwan (Nuclear % share in power gen)                11 non-null     float64
 10  Czech Rep (Nuclear % share in power gen)             11 non-null     float64
 11  Finland (Nuclear % share in power gen)               11 non-null     float64
 12  France (Nuclear % share in power gen)                11 non-null     float64
 13  Germany (Nuclear % share in power gen)               11 non-null     float64
 14  Hungary (Nuclear % share in power gen)               11 non-null     float64
 15  India (Nuclear % share in power gen)                 11 non-null     float64
 16  Iran (Nuclear % share in power gen)                  11 non-null     float64
 17  Japan (Nuclear % share in power gen)                 11 non-null     float64
 18  Korea, S (Nuclear % share in power gen)              11 non-null     float64
 19  Mexico (Nuclear % share in power gen)                11 non-null     float64
 20  Netherlands (Nuclear % share in power gen)           11 non-null     float64
 21  Pakistan (Nuclear % share in power gen)              11 non-null     float64
 22  Romania (Nuclear % share in power gen)               11 non-null     float64
 23  Russia (Nuclear % share in power gen)                11 non-null     float64
 24  Slovakia (Nuclear % share in power gen)              11 non-null     float64
 25  Slovenia (Nuclear % share in power gen)              11 non-null     float64
 26  South Africa (Nuclear % share in power gen)          11 non-null     float64
 27  Spain (Nuclear % share in power gen)                 11 non-null     float64
 28  Sweden(Nuclear % share in power gen)                 11 non-null     float64
 29  Switzerland (Nuclear % share in power gen)           11 non-null     float64
 30  United Arab Emirates (Nuclear % share in power gen)  11 non-null     float64
 31  UK (Nuclear % share in power gen)                    11 non-null     float64
 32  Ukraine (Nuclear % share in power gen)               11 non-null     object
 33  USA (Nuclear % share in power gen)                   11 non-null     float64
dtypes: float64(32), int64(1), object(1)
memory usage: 3.1+ KB

In [24]:
df2 = pd.read_csv ('World_Nuclear_Power_Reactors.csv', encoding='latin1')
df2.head()

,Location,Reactor Name,Model,Reactor Type,Net Capacity (MWe),Construction Start,First Grid Connection,Status,Country,Unnamed: 9
0,NaN,Atucha 1,PHWR KWU,PHWR,340,1968-06,1974-03,Working,Argentina,NaN
1,NaN,Embalse,CANDU 6,PHWR,608,1974-04,1983-04,Working,Argentina,NaN
2,NaN,Atucha 2,PHWR KWU,PHWR,693,1981-07,2014-06,Working,Argentina,NaN
3,NaN,Armenian 2,VVER V-270,PWR,416,1975-07,1980-01,Working,Armenia,NaN
4,NaN,Rooppur 1,VVER-1200/V-523,PWR,1200 MWe,Nov-17,2024,Under Construction,Bangladesh,NaN

In [25]:
df2.shape

(607, 10)

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               185 non-null    object
 1   Reactor Name           601 non-null    object
 2   Model                  447 non-null    object
 3   Reactor Type           591 non-null    object
 4   Net Capacity (MWe)     605 non-null    object
 5   Construction Start     375 non-null    object
 6   First Grid Connection  456 non-null    object
 7   Status                 606 non-null    object
 8   Country                606 non-null    object
 9   Unnamed: 9             0 non-null      float64
dtypes: float64(1), object(9)
memory usage: 47.6+ KB

In [27]:
df3 = pd.read_csv ('powerplants (global) - global_power_plants.csv')
df3.head()

,country code,country_long,name of powerplant,capacity in MW,latitude,longitude,primary_fuel,secondary fuel,other_fuel2,other_fuel3,start date,owner of plant,generation_gwh_2021,geolocation_source,estimated_generation_gwh_2021
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.0,32.322,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,GEODB,123.77
1,AFG,Afghanistan,Kandahar DOG,10.0,31.670,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,18.43
2,AFG,Afghanistan,Kandahar JOL,10.0,31.623,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,18.64
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.0,34.556,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,GEODB,225.06
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.0,34.641,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,GEODB,406.16

In [28]:
df3.shape

(34936, 15)

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country code                   34936 non-null  object
 1   country_long                   34936 non-null  object
 2   name of powerplant             34936 non-null  object
 3   capacity in MW                 34936 non-null  float64
 4   latitude                       34936 non-null  float64
 5   longitude                      34936 non-null  float64
 6   primary_fuel                   34936 non-null  object
 7   secondary fuel                 1944 non-null   object
 8   other_fuel2                    276 non-null    object
 9   other_fuel3                    92 non-null     object
 10  start date                     17447 non-null  float64
 11  owner of plant                 20868 non-null  object
 12  generation_gwh_2021            9659 non-null   float64
 13  geolocation_source             34517 non-null  object
 14  estimated_generation_gwh_2021  16120 non-null  float64
dtypes: float64(6), object(9)
memory usage: 4.0+ MB

In [32]:
df4 = pd.read_csv ('nonRenewablesTotalPowerGeneration.csv')
df4

  Mode of Generation  Contribution (TWh)
0               Coal             9863.33
1        Natural Gas             5882.82
2           Nuclear              2636.03
3                Oil              841.87
4              Waste              114.04
5   Municipal Wastes               74.05
6             Others               36.02
7              Total            19448.16

In [31]:
df4.shape

(8, 2)

In [33]:
df5 = pd.read_csv ('Country_Consumption_TWH.csv')
df5.head()

,Year,China,United States,Brazil,Belgium,Czechia,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,Spain,Sweden,United Kingdom,Norway,Turkey,Kazakhstan,Russia,Ukraine,Uzbekistan,Argentina,Canada,Chile,Colombia,Mexico,Venezuela,Indonesia,Japan,Malaysia,South Korea,Taiwan,Thailand,India,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
0,1990.0,874.0,1910.0,141.0,48.0,50.0,225.0,351.0,147.0,67.0,103.0,17.0,62.0,90.0,47.0,206.0,21.0,51.0,73.0,879.0,252.0,47.0,44.0,211.0,14.0,24.0,124.0,40.0,99.0,440.0,21.0,94.0,48.0,42.0,306.0,86.0,14.0,22.0,33.0,66.0,90.0,69.0,9.0,58.0,20.0
1,1991.0,848.0,1925.0,143.0,50.0,45.0,237.0,344.0,150.0,69.0,101.0,17.0,51.0,93.0,49.0,213.0,22.0,51.0,75.0,871.0,252.0,48.0,46.0,210.0,14.0,24.0,130.0,41.0,103.0,445.0,26.0,101.0,52.0,46.0,318.0,85.0,14.0,23.0,33.0,70.0,92.0,77.0,3.0,68.0,23.0
2,1992.0,877.0,1964.0,145.0,51.0,44.0,234.0,338.0,149.0,69.0,99.0,18.0,46.0,95.0,47.0,213.0,22.0,53.0,79.0,795.0,220.0,45.0,47.0,216.0,15.0,25.0,131.0,46.0,108.0,455.0,29.0,111.0,54.0,49.0,330.0,87.0,14.0,24.0,34.0,72.0,88.0,81.0,9.0,77.0,22.0
3,1993.0,929.0,1998.0,148.0,49.0,43.0,238.0,335.0,149.0,70.0,101.0,18.0,46.0,91.0,46.0,215.0,24.0,56.0,66.0,751.0,195.0,47.0,48.0,223.0,16.0,26.0,133.0,43.0,119.0,458.0,32.0,125.0,58.0,51.0,338.0,91.0,15.0,24.0,35.0,74.0,94.0,87.0,12.0,80.0,23.0
4,1994.0,973.0,2036.0,156.0,52.0,41.0,231.0,333.0,147.0,70.0,96.0,18.0,43.0,96.0,50.0,216.0,23.0,56.0,58.0,657.0,166.0,46.0,52.0,231.0,17.0,27.0,136.0,50.0,119.0,483.0,32.0,133.0,60.0,57.0,351.0,91.0,15.0,23.0,34.0,72.0,98.0,97.0,14.0,84.0,26.0

In [34]:
df5.shape

(33, 45)

In [35]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 45 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  31 non-null     float64
 1   China                 31 non-null     float64
 2   United States         31 non-null     float64
 3   Brazil                31 non-null     float64
 4   Belgium               31 non-null     float64
 5   Czechia               31 non-null     float64
 6   France                31 non-null     float64
 7   Germany               31 non-null     float64
 8   Italy                 31 non-null     float64
 9   Netherlands           31 non-null     float64
 10  Poland                31 non-null     float64
 11  Portugal              31 non-null     float64
 12  Romania               31 non-null     float64
 13  Spain                 31 non-null     float64
 14  Sweden                31 non-null     float64
 15  United Kingdom        31 non-null     float64
 16  Norway                31 non-null     float64
 17  Turkey                31 non-null     float64
 18  Kazakhstan            31 non-null     float64
 19  Russia                31 non-null     float64
 20  Ukraine               31 non-null     float64
 21  Uzbekistan            31 non-null     float64
 22  Argentina             31 non-null     float64
 23  Canada                31 non-null     float64
 24  Chile                 31 non-null     float64
 25  Colombia              31 non-null     float64
 26  Mexico                31 non-null     float64
 27  Venezuela             31 non-null     float64
 28  Indonesia             31 non-null     float64
 29  Japan                 31 non-null     float64
 30  Malaysia              31 non-null     float64
 31  South Korea           31 non-null     float64
 32  Taiwan                31 non-null     float64
 33  Thailand              31 non-null     float64
 34  India                 31 non-null     float64
 35  Australia             31 non-null     float64
 36  New Zealand           31 non-null     float64
 37  Algeria               31 non-null     float64
 38  Egypt                 31 non-null     float64
 39  Nigeria               31 non-null     float64
 40  South Africa          31 non-null     float64
 41  Iran                  31 non-null     float64
 42  Kuwait                31 non-null     float64
 43  Saudi Arabia          31 non-null     float64
 44  United Arab Emirates  31 non-null     float64
dtypes: float64(45)
memory usage: 11.7 KB

In [54]:
df6 = pd.read_csv ('Co2_Generacion_electrica.csv')
df6

    CountryShort CountryLong  Year  ValueNumeric      Unit Data_source
0           EU28       EU-28  1990    531.232975  gCO2/kWh         EEA
1           EU28       EU-28  1991    516.034467  gCO2/kWh         EEA
2           EU28       EU-28  1992    503.571112  gCO2/kWh         EEA
3           EU28       EU-28  1993    473.999118  gCO2/kWh         EEA
4           EU28       EU-28  1994    469.013303  gCO2/kWh         EEA
..           ...         ...   ...           ...       ...         ...
919           NO      Norway  2013     20.978275  gCO2/kWh         EEA
920           NO      Norway  2014     21.272071  gCO2/kWh         EEA
921           NO      Norway  2015     19.836942  gCO2/kWh         EEA
922           NO      Norway  2016     18.271347  gCO2/kWh         EEA
923           NO      Norway  2017     18.923246  gCO2/kWh         EEA

[924 rows x 6 columns]

In [37]:
df6.shape

(924, 6)

In [38]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CountryShort  924 non-null    object
 1   CountryLong   924 non-null    object
 2   Year          924 non-null    int64
 3   ValueNumeric  924 non-null    float64
 4   Unit          924 non-null    object
 5   Data_source   924 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 43.4+ KB

In [53]:
df6['CountryLong'].unique()

array(['EU-28', 'EU-27 (from 2020)', 'Austria', 'Belgium', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland',
       'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'United Kingdom', 'Turkey',
       'Island', 'Norway'], dtype=object)

Renovables Vs Nuclear

In [39]:
df7 = pd.read_csv ('Renovables_v_Nuclear/global_power_plant_database_last.csv', encoding='latin1')
df7.head()

C:\Users\Sandia\AppData\Local\Temp\ipykernel_10824\2218515200.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv ('Renovables_v_Nuclear/global_power_plant_database_last.csv', encoding='latin1')

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,other_fuel3,commissioning_year,owner,source,url,geolocation_source,wepp_id,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,generation_data_source,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,http://globalenergyobservatory.org,GEODB,1009793,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,https://www.wiki-solar.org,Wiki-Solar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,NaN,NaN,NaN,Wiki-Solar,https://www.wiki-solar.org,Wiki-Solar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,http://globalenergyobservatory.org,GEODB,1009795,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,NaN,NaN,NaN,GEODB,http://globalenergyobservatory.org,GEODB,1009797,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

In [40]:
df7.shape

(34936, 36)

In [41]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         34936 non-null  object
 1   country_long                    34936 non-null  object
 2   name                            34936 non-null  object
 3   gppd_idnr                       34936 non-null  object
 4   capacity_mw                     34936 non-null  float64
 5   latitude                        34936 non-null  float64
 6   longitude                       34936 non-null  float64
 7   primary_fuel                    34936 non-null  object
 8   other_fuel1                     1944 non-null   object
 9   other_fuel2                     276 non-null    object
 10  other_fuel3                     92 non-null     object
 11  commissioning_year              17447 non-null  float64
 12  owner                           20868 non-null  object
 13  source                          34921 non-null  object
 14  url                             34918 non-null  object
 15  geolocation_source              34517 non-null  object
 16  wepp_id                         16234 non-null  object
 17  year_of_capacity_data           14887 non-null  float64
 18  generation_gwh_2013             6417 non-null   float64
 19  generation_gwh_2014             7226 non-null   float64
 20  generation_gwh_2015             8203 non-null   float64
 21  generation_gwh_2016             9144 non-null   float64
 22  generation_gwh_2017             9500 non-null   float64
 23  generation_gwh_2018             9637 non-null   float64
 24  generation_gwh_2019             9659 non-null   float64
 25  generation_data_source          11400 non-null  object
 26  estimated_generation_gwh_2013   16120 non-null  float64
 27  estimated_generation_gwh_2014   16503 non-null  float64
 28  estimated_generation_gwh_2015   17050 non-null  float64
 29  estimated_generation_gwh_2016   17570 non-null  float64
 30  estimated_generation_gwh_2017   33138 non-null  float64
 31  estimated_generation_note_2013  34936 non-null  object
 32  estimated_generation_note_2014  34936 non-null  object
 33  estimated_generation_note_2015  34936 non-null  object
 34  estimated_generation_note_2016  34936 non-null  object
 35  estimated_generation_note_2017  34936 non-null  object
dtypes: float64(17), object(19)
memory usage: 9.6+ MB

In [56]:
df8 = pd.read_csv ('Renovables_v_Nuclear/share-elec-produc-by-source.csv')
df8.head()

,Entity,Code,Year,Coal (% electricity),Gas (% electricity),Hydro (% electricity),Solar (% electricity),Wind (% electricity),Oil (% electricity),Nuclear (% electricity),Other renewables (% electricity)
0,Afghanistan,AFG,2000,0.0,33.190578,66.809422,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,15.878378,84.121622,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,19.213974,80.786026,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,32.907348,67.092652,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,36.800895,63.199105,0.0,0.0,0.0,0.0,0.0

In [62]:
df8['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2020], dtype=int64)

In [43]:
df8.shape

(6190, 11)

In [44]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6190 entries, 0 to 6189
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Entity                            6190 non-null   object
 1   Code                              5423 non-null   object
 2   Year                              6190 non-null   int64
 3   Coal (% electricity)              5170 non-null   float64
 4   Gas (% electricity)               5170 non-null   float64
 5   Hydro (% electricity)             6190 non-null   float64
 6   Solar (% electricity)             6190 non-null   float64
 7   Wind (% electricity)              6190 non-null   float64
 8   Oil (% electricity)               5170 non-null   float64
 9   Nuclear (% electricity)           6190 non-null   float64
 10  Other renewables (% electricity)  6155 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 532.1+ KB

In [45]:
df9 = pd.read_csv ('Renovables_v_Nuclear/share-energy-consum-by-source.csv')
df9.head()

,Entity,Code,Year,Oil (% sub energy),Coal (% sub energy),Solar (% sub energy),Nuclear (% sub energy),Hydro (% sub energy),Wind (% sub energy),Gas (% sub energy),Other renewables (% sub energy)
0,Africa,NaN,1965,46.720,46.375,0.0,0.0,5.537,0.0,1.368,0.0
1,Africa,NaN,1966,48.626,44.047,0.0,0.0,5.873,0.0,1.454,0.0
2,Africa,NaN,1967,47.838,44.655,0.0,0.0,6.080,0.0,1.426,0.0
3,Africa,NaN,1968,47.859,44.029,0.0,0.0,6.743,0.0,1.370,0.0
4,Africa,NaN,1969,47.373,43.381,0.0,0.0,7.683,0.0,1.563,0.0

In [46]:
df9.shape

(4284, 11)

In [47]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           4284 non-null   object
 1   Code                             4119 non-null   object
 2   Year                             4284 non-null   int64
 3   Oil (% sub energy)               4284 non-null   float64
 4   Coal (% sub energy)              4284 non-null   float64
 5   Solar (% sub energy)             4284 non-null   float64
 6   Nuclear (% sub energy)           4284 non-null   float64
 7   Hydro (% sub energy)             4284 non-null   float64
 8   Wind (% sub energy)              4284 non-null   float64
 9   Gas (% sub energy)               4284 non-null   float64
 10  Other renewables (% sub energy)  4284 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 368.3+ KB