In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv('Datasets Energia/World_Nuclear_Power_Reactors.csv', encoding='latin1')
df.head()

,Location,Reactor Name,Model,Reactor Type,Net Capacity (MWe),Construction Start,First Grid Connection,Status,Country,Unnamed: 9
0,NaN,Atucha 1,PHWR KWU,PHWR,340,1968-06,1974-03,Working,Argentina,NaN
1,NaN,Embalse,CANDU 6,PHWR,608,1974-04,1983-04,Working,Argentina,NaN
2,NaN,Atucha 2,PHWR KWU,PHWR,693,1981-07,2014-06,Working,Argentina,NaN
3,NaN,Armenian 2,VVER V-270,PWR,416,1975-07,1980-01,Working,Armenia,NaN
4,NaN,Rooppur 1,VVER-1200/V-523,PWR,1200 MWe,Nov-17,2024,Under Construction,Bangladesh,NaN

In [3]:
df.dtypes

Location                  object
Reactor Name              object
Model                     object
Reactor Type              object
Net Capacity (MWe)        object
Construction Start        object
First Grid Connection     object
Status                    object
Country                   object
Unnamed: 9               float64
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               185 non-null    object
 1   Reactor Name           601 non-null    object
 2   Model                  447 non-null    object
 3   Reactor Type           591 non-null    object
 4   Net Capacity (MWe)     605 non-null    object
 5   Construction Start     375 non-null    object
 6   First Grid Connection  456 non-null    object
 7   Status                 606 non-null    object
 8   Country                606 non-null    object
 9   Unnamed: 9             0 non-null      float64
dtypes: float64(1), object(9)
memory usage: 47.6+ KB

In [5]:
df.columns

Index(['Location', 'Reactor Name', 'Model', 'Reactor Type',
       'Net Capacity (MWe)', 'Construction Start', 'First Grid Connection',
       'Status', 'Country', 'Unnamed: 9'],
      dtype='object')

In [7]:
df.shape

(607, 10)

In [12]:
df.groupby(['Country', 'Location', 'Reactor Name'])[['Net Capacity (MWe)', 'Construction Start', 'First Grid Connection', 'Status', 'Model',
'Reactor Type', 'Status']].max()

                                        Net Capacity (MWe) Construction Start  \
Country Location    Reactor Name
China   Fujian      Fuqing 1&2                    1000 MWe                NaN
                    Fuqing 3&4                    1000 MWe                NaN
                    Fuqing 5&6                    1075 MWe                NaN
                    Ningde 1&2                    1018 MWe                NaN
                    Ningde 3&4                    1018 MWe                NaN
...                                                    ...                ...
USA     Waterford   CE 2-loop (DRY)                   1168          14-Nov-74
        Watts Bar   WH 4-Loop (ICECOND)               1164          20-Jul-73
        Wolf Creek  WH 4-Loop (DRY)                   1200          31-May-77
        Yankee Rowe WH (DRY)                           167           1-Nov-57
        Zion        WH (DRY)                          1040           1-Dec-68

                                        First Grid Connection       Status  \
Country Location    Reactor Name
China   Fujian      Fuqing 1&2             Aug 2014, Aug 2015      Working
                    Fuqing 3&4           Sept 2016, July 2017      Working
                    Fuqing 5&6             Nov 2020, Jan 2022      Working
                    Ningde 1&2             Dec 2012, Jan 2014      Working
                    Ningde 3&4             Mar 2015, Mar 2016      Working
...                                                       ...          ...
USA     Waterford   CE 2-loop (DRY)                 24-Sep-85  Operational
        Watts Bar   WH 4-Loop (ICECOND)              4-Jun-16  Operational
        Wolf Creek  WH 4-Loop (DRY)                  3-Sep-85  Operational
        Yankee Rowe WH (DRY)                         1-Jul-61   Dismantled
        Zion        WH (DRY)                        31-Dec-73   Dismantled

                                               Model    Reactor Type  \
Country Location    Reactor Name
China   Fujian      Fuqing 1&2                 M310+  CNNC & Huadian
                    Fuqing 3&4                 M310+  CNNC & Huadian
                    Fuqing 5&6           Hualong One  CNNC & Huadian
                    Ningde 1&2              CPR-1000    CGN & Datang
                    Ningde 3&4              CPR-1000    CGN & Datang
...                                              ...             ...
USA     Waterford   CE 2-loop (DRY)              NaN             PWR
        Watts Bar   WH 4-Loop (ICECOND)          NaN             PWR
        Wolf Creek  WH 4-Loop (DRY)              NaN             PWR
        Yankee Rowe WH (DRY)                     NaN             PWR
        Zion        WH (DRY)                     NaN             PWR

                                              Status
Country Location    Reactor Name
China   Fujian      Fuqing 1&2               Working
                    Fuqing 3&4               Working
                    Fuqing 5&6               Working
                    Ningde 1&2               Working
                    Ningde 3&4               Working
...                                              ...
USA     Waterford   CE 2-loop (DRY)      Operational
        Watts Bar   WH 4-Loop (ICECOND)  Operational
        Wolf Creek  WH 4-Loop (DRY)      Operational
        Yankee Rowe WH (DRY)              Dismantled
        Zion        WH (DRY)              Dismantled

[140 rows x 7 columns]